---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import { render } from "astro:content";

// 1. Generate a new path for every collection post
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { post: post.id },
    props: { post },
  }));
}

// 2. For your template, you can access the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={`${post.data.title} | anrg.in`}>
  <Header />

  <main>
    <header class="mb-10">
      <div class="flex gap-2 mb-4">
        {
          post.data.tags.map((tag) => (
            <span class="text-xs font-mono px-2 py-0.5 rounded bg-bg-card text-accent-blue">
              #{tag}
            </span>
          ))
        }
      </div>
      <h1 class="text-3xl md:text-4xl font-black mb-4 tracking-tight">
        {post.data.title}
      </h1>
      <time
        class="text-sm font-mono text-fg-dim"
        datetime={post.data.pubDate.toISOString()}
      >
        {
          post.data.pubDate.toLocaleDateString("en-us", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
    </header>
    <article class="prose dark:prose-invert prose-everforest ">
      <Content />
    </article>
  </main>
</Layout>
